<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinNavTpl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MinNavTpl.Properties.Settings>
            <setting name="LogLevels" serializeAs="String">
                <value>+Verbose -Info -Warning +Error -ErNT -11mb -Infi</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>C:\temp\Logs</value>
            </setting>
        </MinNavTpl.Properties.Settings>
    </applicationSettings>
</configuration>